.d-block{
   background-color: rgb(255, 255, 255);
   height: 630px;
   width: 1500px;
}

.col-1{
   background-color: rgb(255, 255, 255);
   height: 95px;
   width: 1500px;
   margin-top: 10px; 
}

.col-2{
   background-color: rgb(255, 255, 255);
   height: 250px;
   width: 1500px;
   margin-top: 10px;  
}

.col-3{
   background-color: rgb(255, 255, 255);
   height: 225px;
   width: 1500px;
   margin-top: 10px;
}

.col-4{
   background-color: rgb(255, 255, 255);
   height: 45px;
   width: 1500px;
   margin-top: 5px;
}

.col-5{
   background-color: rgb(255, 255, 255);
   height: 15px;
   width: 1500px;
   margin-top: 5px;
}

.col-6{
   background-color: rgb(255, 255, 255);
   height: 15px;
   width: 1500px;
   margin-top: 5px;
}

.col-7{
   background-color: rgb(255, 255, 255);
   height: 250px;
   width: 900px;
}

.col-8{
   background-color: rgb(255, 255, 255);
   height: 150px;
   width: 400px;
   margin-left: 80px;
}

.d-flex{
   display: flex;
}

.col-9{
   background-color: rgb(255, 255, 255);
   height: 50px;
   width: 1500px;
   margin-top: 5px;
}

.col-10{
   background-color: rgb(255, 255, 255);
   height: 70px;
   width: 1500px;
   margin-top: 5px;
}

.col-11{
   background-color: rgb(255, 255, 255);
   height: 70px;
   width: 1500px;
   margin-top: 5px;
}

.col-12{
   background-color: rgb(255, 255, 255);
   height: 10px;
   width: 400px;
   margin-top: 5px;
}

.col-sm-1{
   background-color: rgb(255, 255, 255);
   height: 15px;
   width: 400px;
   margin-top: 15px;
}

.col-sm-2 {
   background-color: rgb(255, 255, 255);
   height: 15px;
   width: 400px;
   margin-top: 15px;
}

.col-sm-3{
   background-color: rgb(255, 255, 255);
   height: 20px;
   width: 1500px;
}

.col-sm-4{
   background-color: white;
   height: 20px;
   width: 1500px;
   margin-top: 10px;
}

.col-sm-5{
   background-color: white;
   height: 70px;
   width: 360px;
}

.col-sm-6{
   background-color: white;
   height: 70px;
   width: 350px;
   margin-left: 30px;
}

.col-sm-7{
   height: 70px;
   width: 360px;
   margin-top: 5px;
   position: absolute;
}

.col-sm-8{
   margin-left: 500px;
}

.col-sm-9{
   height: 150px;
   width: 300px;
   margin-left: 50px;
   border: dashed black;
}

.col-sm-10{
   margin-top: 16px;
}

.col-sm-11{
   color: rgb(255, 255, 255);
}

.col-sm-12{
   height: 140px;
   width: 250px;
   margin-left: 30px;
}

.col-md-1{
   height: 140px;
   width: 250px;
   margin-left: 30px;
   margin-top: 50px;
}